/* Remove Page Padding and margins */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/* Page Content Center - Color */
.content {
  align-items: center;
  text-align: center;
  color: white;
}

/*Logo Image sizing*/
.logo img {
  max-width: 30vw;
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Footer Fix bottom and background */
footer {
  background-color: #4d4d4d;
  bottom: 0%;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* Section Start padding */
.section1 {
  padding: 20px 0px;
  padding-bottom: 45px;
}

/* Section1 Text font... */
.text {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* Text a color and padding only */
.text a {
  text-decoration: none;
  color: white;
  padding: 4px 2px;
}

/* Text Lign */
.text b {
  border-right: 2px solid #2393c1;
}

/* Text email */
.email a {
  text-decoration: none;
  color: white;
}

/* Section1 Icons */
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
}

/* Icons all div padding between */
.icons div {
  padding: 10px 8px;
}

/* Icons a tag styling */
.icons div a {
  text-decoration: none;
  color: white;
  background-color: #2393c1;
  border-radius: 50%;
  font-size: 28px;
  padding: 8px 10px;
}

/* Section2 Start*/
.section2 {
  padding: 20px 0px;
  background-color: #2393c1;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* Logo image Responsive mobile */
@media all and (max-width: 800px) {
  .logo img {
      max-width: 250vw;
      width: 100%;
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
}
